/* MAIN */
.center {
  text-align: center;
}
.remove-link {
  text-decoration: none;
  color: black;
}
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  font-family: 'AAA-Prachid Hand Written Font';
}
.small-button {
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'AAA-Prachid Hand Written Font';
}
.text {
  margin: 0;
}
.title {
  font-size: 80px;
  margin: 20px;
  font-family: 'AAA-Prachid Hand Written Font';
}
.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.back-button {
  font-size: 50px;
  position: absolute;
  right: 20%;
  top: 100px;
}

body {
  background-color: pink;
}

.container {
  font-family: 'AAA-Prachid Hand Written Font';
  display: flex;
  flex-direction: column;
  flex-direction: space-around;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.443);
  border-radius: 10px;
  box-shadow: 10px 10px 15px #00000031;
}
.heading {
  font-size: 80px;
  margin: 20px;
}

/* BAG FACTORY */
@font-face {
  font-family: 'Mas Pendi Wow Font';
  font-style: normal;
  font-weight: normal;
  src: local('Mas Pendi Wow Font'),
    url('./media/MasPendiWow-qZK90.ttf') format('truetype');
}
@font-face {
  font-family: 'AAA-Prachid Hand Written Font';
  font-style: normal;
  font-weight: normal;
  src: local('AAA-Prachid Hand Written Font'),
    url('./media/AaaPrachidHandWritten-0Km9.ttf') format('truetype');
}

.factory {
  margin-top: 100px;
  font-family: 'AAA-Prachid Hand Written Font';
}

.box {
  border: 2px dashed black;
  width: 100%;
}
.bag-images {
  width: 50%;
  height: 650px;
  border: 1px dashed black;
  display: flex;
  justify-content: center;
}

.bag-part {
  width: 600px;
  position: absolute;
  pointer-events: none;
  z-index: -10;
}
.fabric-circle {
  width: 50px;
  border-radius: 50%;
  padding: 4px;
}

.hover:hover {
  transform: scale(1.1);
}
.name-text {
  top: 380px;
  left: 30.5%;
  border: 3px dashed pink;
  width: 140px;
  height: 30px;
  line-height: 30px;
  font-size: 40px;
}
.moving-box {
  position: relative;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  flex-direction: column;
  height: 100px;
  font-size: 50px;
  line-height: 20px;
}

.moving-box-p {
  margin: 0;
}
.done {
  font-weight: lighter;
  color: grey;
}
.clicked-part {
  background-color: rgba(204, 200, 200, 0.9);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.208);
}
.notDone {
  font-weight: bold;
}

#front {
  left: 800px;
  top: 40px;
}

#bottom {
  right: 0;
}

#pocket {
  right: 200px;
  bottom: 130px;
}

#zip {
  right: 240px;
  bottom: 150px;
}

#heart {
  left: 150px;
  top: 210px;
}

#lining {
  left: 310px;
  top: 380px;
}

#top {
  top: 480px;
  left: 150px;
}
#strap {
  top: 540px;
  left: 400px;
}
#clasps {
  top: 350px;
  right: 830px;
}
#bottom {
  bottom: 50px;
}
#side_strap {
  right: 270px;
  top: 140px;
}
.black {
  color: black;
}
.white {
  color: white;
}
.radio-buttons {
  display: flex;
}

.add-name {
  flex-direction: column;
  padding: 40px;
  font-size: 30px;
}
.add-name h3 {
  margin: 0;
}
.input-textbox {
  font-size: 20px;
  margin: 5px;
}

/* STOCK PAGE */
.stock-page {
  flex-direction: column;
  text-align: center;
}
.fabric-box {
  border: 2px solid black;
  margin: 40px;
  width: 90%;
}
.fabric-rows {
  justify-content: space-around;
  flex-wrap: wrap;
}
.fabric-square {
  width: 200px;
  /* margin: 30px; */
}
.fabric-form {
  margin: 20px;
  flex-direction: column;
}
.fabric-input {
  font-size: 20px;
  text-align: center;

  margin: 5px;
  width: 250px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 5px;
}
.fabric-submit {
  background-color: gray;
}

/* product-page */

.product-table {
  background-color: aliceblue;
  width: 600px;
}
.product-contents {
  background-color: pink;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
.column {
  width: 200px;
  text-align: center;
}
.create-product {
  background-color: pink;
  width: 300px;
  height: 300px;
}

/* my order page */
.order-page {
  height: 650px;
  margin: 50px auto;
}
.order-title {
  font-size: 80px;
  margin-top: 20px;
}

.orders-container {
  display: flex;
  margin: 0 40px;
}
.order-box {
  /* border: 2px solid black; */
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.order-box h2 {
  margin: 0;
}
.order-images-container {
  width: 200px;
  height: 200px;
}
.order-image {
  width: 200px;
  height: 200px;
  position: absolute;
  margin: auto;
}
.order-details {
  padding: 20px;
}
.order-details h2 {
  font-size: 35px;
  text-align: center;
  margin: 0;
}
.symbols {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}
/* order status */
.order-status-box {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100px;
  margin-bottom: 50px;
}

.each-status {
  width: 15%;
  text-align: center;
}
.status-meter {
  width: 100%;
  height: 30px;
}
.status-meter-end {
  width: 10%;
  height: 30px;
}
.left-end {
  border-radius: 50% 0 0 50%;
}
.right-end {
  border-radius: 0 50% 50% 0;
}
#complete {
  background-color: #d9eddd;
}
#not-complete {
  background-color: #f5d9d9;
}
/* NAVBAR */
.navbar-list {
  text-align: center;
  list-style: none;
  font-size: 80px;
  font-family: 'AAA-Prachid Hand Written Font';
  color: white;
}
.navbar-list a {
  color: white;
  text-decoration: none;
}
.navbar-list li:hover {
  transform: scale(1.1);
}
.burger-wrapper {
  cursor: pointer;
}
#meny {
  background: rgba(43, 43, 43, 0.9);
  width: 100rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(-100rem);
  top: 0;
  z-index: 1;
  transition: 0.5s;
}
#menyAvPaa {
  display: none;
}
#menyAvPaa:checked ~ #meny {
  transform: translateX(0rem);
}

#burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  left: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger > div {
  height: 2px;
  background-color: #000;
  transition: 0.5s;
  z-index: 999;
}
#menyAvPaa:checked ~ #burger > div {
  background-color: #fff;
}
#menyAvPaa:checked ~ #burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
/* my orders */
.my-orders-button {
  margin: 30px;
}
.my-orders-box {
  text-align: center;
  border: 2px dashed black;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.each-order {
  text-decoration: none;
  color: black;
}
.order-complete {
  font-size: 20px;
}
/* customer-orders */
.order-tab-container {
  width: 90%;
}
.order-tabs {
  background-color: pink;
  margin: 0;
  height: 50px;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  border-radius: 15px 15px 0 0;
}
.react-tabs__tab--selected {
  background-color: white;
  border-radius: 15px 15px 0 0;
}
.each-order-tab {
  width: 16%;
  text-align: center;
}

.tab-panel-background {
  text-align: center;
  background-color: white;
  padding-top: 20px;
  height: 600px;
}
.customer-order-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px dashed gray;
  background-color: white;
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.customer-order-details p {
  margin: 10px;
}
