/* MAIN */
.center {
  text-align: center;
}
.remove-link {
  text-decoration: none;
  color: black;
}
.button {
  padding: 5px 20px;
  margin: 20px;
  border-radius: 10px;
  line-height: 70px;
  font-size: 70px;
  font-family: 'AAA-Prachid Hand Written Font';
  border: 3px solid gray;
  background-color: rgba(255, 255, 255, 0.7);
  width: 450px;
}
.medium-button {
  padding: 5px 20px;
  margin: 20px;
  border-radius: 10px;
  line-height: 50px;
  font-size: 50px;
  font-family: 'AAA-Prachid Hand Written Font';
  border: 3px solid gray;
  background-color: rgba(255, 255, 255, 0.7);
  width: 300px;
}
.small-button {
  text-align: center;
  border: 2px solid gray;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'AAA-Prachid Hand Written Font';
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 30px;
}
.button-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.text {
  margin: 0;
  text-shadow: 0px 0px 10px #ffffff;
}
.error {
  color: red;
}
.title {
  font-size: 80px;
  margin: 20px;
  font-family: 'AAA-Prachid Hand Written Font';
  color: white;
  text-shadow: 0px 0px 10px #000000;
}
.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.back-button {
  font-size: 50px;
  position: absolute;
  right: 20%;
  top: 100px;
}

body {
  background-image: url('./media/background.jpg');
  margin: 0;
}

.container {
  font-family: 'AAA-Prachid Hand Written Font';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 750px;
  margin: 30px auto;
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: rgba(128, 128, 128, 0.45);
  border: 4px dashed gray;
  border-radius: 30px;
  /* box-shadow: 0px 0px 15px #00000031; */
  z-index: -1;
}
.overflow-container {
  height: 600px;
  overflow-y: scroll;
  justify-content: start;
}

.hover:hover {
  transform: scale(1.1);
}
@font-face {
  font-family: 'Mas Pendi Wow Font';
  font-style: normal;
  font-weight: normal;
  src: local('Mas Pendi Wow Font'),
    url('./media/MasPendiWow-qZK90.ttf') format('truetype');
}
@font-face {
  font-family: 'AAA-Prachid Hand Written Font';
  font-style: normal;
  font-weight: normal;
  src: local('AAA-Prachid Hand Written Font'),
    url('./media/AaaPrachidHandWritten-0Km9.ttf') format('truetype');
}

/* BAG FACTORY */
.bag-images {
  width: 450px;
  min-height: 470px;
  display: flex;
  justify-content: center;
}
.moving-box {
  position: absolute;
  padding: 5px;
  border-radius: 20px;
  font-size: 20px;
  flex-direction: column;
  height: 100px;
  font-size: 50px;
  line-height: 20px;
  z-index: 2;
}
.done {
  font-weight: lighter;
}
.notDone {
  font-weight: bold;
}

.moving-box-circle-container {
  max-width: 250px;
  overflow-x: scroll;
  display: flex;
  justify-content: left;
}
.clicked-part {
  /* background-color: rgba(204, 200, 200, 0.9); */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.208);
  border: 3px solid gray;
  background-color: rgba(255, 255, 255, 0.7);
}
.not-clicked.notDone {
  animation: pulse 2s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
#pocket {
  left: 63%;
  top: 80px;
}
#front {
  left: 66%;
  top: 180px;
}
#heart {
  left: 68%;
  top: 280px;
}
#lining {
  left: 66%;
  top: 380px;
}
#strap {
  left: 63%;
  top: 480px;
}

#zip {
  right: 62%;
  top: 80px;
}
#bottom {
  right: 65%;
  top: 180px;
}
#clasps {
  right: 66%;
  top: 280px;
}
#side_strap {
  right: 62%;
  top: 380px;
}
#top {
  right: 61%;
  top: 480px;
}

.name-text {
  text-align: center;
  top: 210px;
  left: 48%;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-size: 35px;
  position: absolute;
  z-index: 0;
}
.fabric-circle {
  width: 50px;
  border-radius: 50%;
  padding: 4px;
}
.bag-part {
  width: 450px;
  position: absolute;
  pointer-events: none;
  z-index: 0;
}
.add-name {
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  font-size: 30px;
  background-color: gray;
}

.black {
  color: black;
}
.white {
  color: white;
}
.radio-buttons {
  display: flex;
}
.input-textbox {
  font-size: 20px;
  margin: 5px;
}
.final-touches {
  text-align: center;
}

/* STOCK PAGE */
.stock-page {
  flex-direction: column;
  text-align: center;
}
.fabric-box {
  background-color: rgba(128, 128, 128, 0.439);
  border: 4px solid gray;
  border-radius: 30px;
  width: 90%;
  margin-bottom: 40px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
}
.fabric-box h2 {
  font-family: 'AAA-Prachid Hand Written Font';
  font-size: 50px;
  margin: 0;
}
.fabric-rows {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 20px 20px 20px;
  height: 350px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.486);
  box-shadow: inset 0px 0px 20px #00000031;
}
.fabric-square {
  width: 200px;
  margin: 5px;
  border-radius: 50%;
}
.fabric-form {
  margin: 20px;
  align-items: center;
  justify-content: space-around;
}
.fabric-input {
  margin: 10px;
  width: 250px;

  padding: 0;
}
.fabric-submit {
  background-color: gray;
  border: 2px solid rgb(218, 214, 214);
}

/* product-page */
.products-page {
  text-align: center;
  font-family: 'AAA-Prachid Hand Written Font';
}
.products-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-table {
  border: 4px dashed gray;
  border-radius: 10px;
  width: 600px;
}
.product-contents {
  background-color: rgba(128, 128, 128, 0.45);
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  line-height: 35px;
  border: 1px solid gray;
}
.column {
  width: 200px;
  text-align: center;
}
.create-product {
  background-color: rgba(128, 128, 128, 0.45);
  border-radius: 10px;
  border: 4px dashed gray;
  width: 400px;
  height: 300px;
  font-size: 25px;
}
.create-product-text {
  font-size: 30px;
}

/* my order page */
.order-page {
  height: 600px;
}

.orders-container {
  max-width: 90%;
  display: flex;
  height: 250px;
  align-items: center;
}
.order-box {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.order-box h2 {
  margin: 0;
}
.order-images-container {
  width: 200px;
  height: 200px;
}
.order-image {
  width: 200px;
  height: 200px;
  position: absolute;
  margin: auto;
}
.order-details {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-shadow: 0px 0px 10px #ffffff;
}

.order-details h2 {
  font-size: 35px;
  text-align: center;
  margin: 0;
}
.symbols {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

/* order status */
.order-status-box {
  display: flex;
  justify-content: center;
  width: 650px;
  height: 100px;
}
.order-status-border {
  position: absolute;
  width: 644px;
  height: 24px;
  border-radius: 50px;
  border: 3px solid gray;
}

.each-status {
  width: 15%;
  text-align: center;
}
.status-meter {
  width: 100%;
  height: 30px;
}
.status-meter-end {
  width: 10%;
  height: 30px;
}
.left-end {
  border-radius: 50% 0 0 50%;
}
.right-end {
  border-radius: 0 50% 50% 0;
}
#complete {
  background-color: #d9eddd;
}
#not-complete {
  background-color: #f5d9d9;
}

/* NAVBAR */
.home-title {
  background-color: gray;
  color: white;
  width: 100%;
  font-family: 'AAA-Prachid Hand Written Font';
  text-align: center;
  font-size: 50px;
  margin: 0;
  border-bottom: 2px solid darkgray;
}
.navbar-list {
  text-align: center;
  list-style: none;
  font-size: 80px;
  font-family: 'AAA-Prachid Hand Written Font';
  color: white;
}
.navbar-list a {
  color: white;
  text-decoration: none;
}
.navbar-list li:hover {
  transform: scale(1.1);
}
.burger-wrapper {
  cursor: pointer;
}
#meny {
  background: rgba(43, 43, 43, 0.8);

  /* background-image: url('https://img.freepik.com/free-vector/pink-color-watercolor-background_125540-1216.jpg?w=2000');
  opacity: 0.5; */
  width: 100rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(-100rem);
  top: 0;
  z-index: 3;
  transition: 0.5s;
}
#menyAvPaa {
  display: none;
}
#menyAvPaa:checked ~ #meny {
  transform: translateX(0rem);
}

#burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  left: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger > div {
  height: 2px;
  background-color: white;
  transition: 0.5s;
  z-index: 999;
}
#menyAvPaa:checked ~ #burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
/* my orders */

.my-orders-box {
  display: flex;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 20px #00000031;
  overflow-x: auto;
  height: 200px;
  border-radius: 5px;
  width: 650px;
  margin: 10px auto;
  padding: 20px;
  justify-content: start;
}
.each-order {
  min-width: 300px;
  text-decoration: none;
  color: black;
}
.no-orders {
  width: 100%;
}
.order-complete {
  font-size: 20px;
}
/* customer-orders */
.order-tab-container {
  width: 95%;
}
.order-tabs {
  background-color: rgba(128, 128, 128, 0.777);
  margin: 0;
  height: 50px;
  font-size: 33px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  border-radius: 15px 15px 0 0;
}
.react-tabs__tab--selected {
  background-color: white;
  border-radius: 15px 15px 0 0;
}
.each-order-tab {
  width: 16%;
  text-align: center;
}

.tab-panel-background {
  text-align: center;
  background-color: white;
  padding-top: 20px;
  height: 500px;
}
.customer-order-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px dashed gray;
  background-color: white;
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.customer-order-details p {
  margin: 10px;
}
.clicktoview {
  font-size: 35px;
  height: 400px;
}
/* register /login */
.form {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.field {
  display: flex;
  align-items: center;
  text-shadow: 0px 0px 10px #ffffff;
}
.label {
  width: 300px;
  text-align: right;
  padding: 5px;
}
.input {
  width: 250px;
  line-height: 30px;
  margin-left: 10px;
}
.login-submit {
  margin: 20px;
}
/* home */
.column-container {
  width: 100%;
  display: flex;
}
.column1,
.column2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.behind-bag {
  background-color: rgba(255, 255, 255, 0.6);
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -1;
  border-radius: 5%;
}
.bag-gif {
  width: 500px;
  margin: 50px;
}

.homebag-container {
  background-image: url('./media/backgoround.png');
  background-size: contain;
  width: 800px;
  height: 700px;
  background-position: end;
  background-repeat: no-repeat;
}
.home-heart {
  width: 350px;
  height: 270px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'AAA-Prachid Hand Written Font';
  position: absolute;
  font-size: 60px;
  text-align: center;
  transform: rotate(20deg);
  left: 18%;
  top: 400px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: blueviolet;
  }
}
