.App {
  text-align: center;
}
body {
  background-color: lightgreen;
}
.box {
  border: 2px dashed black;
  display: flex;

  justify-content: center;
}
.column {
  width: 50%;
  border: 1px dashed black;
}
.bag-body {
  width: 600px;
}
.lining {
  position: absolute;
  left: 570px;
  top: 135px;
  width: 508px;
}
.heart {
  position: absolute;
  left: 764px;
  top: 227px;
  width: 139px;
}
